/* 评论区 小人 */
#veditor {
  background-image: url(https://cdn.jsdelivr.net/gh/drew233/cdn/20200409110727.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-color: rgba(255, 255, 255, 0);
  resize: vertical;
}
#veditor:focus {
  background-position-y: 200px;
  transition: all 0.2s ease-in-out 0s;
}

#vcomments .vheader .vnick {
  width: 31%;
  border: 2px solid #dedede;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

#vcomments .vheader .vmail {
  width: 31%;
  border: 2px solid #dedede;
  margin-left: 34px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

#vcomments .vheader .vlink {
  width: 31%;
  border: 2px solid #dedede;
  margin-left: 34px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
/* 评论区样式 */
.v .vlist .vcard {
  padding: 15px 20px 0 20px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.12);
  transition: all 0.3s;
}

.v .vlist .vcard:hover {
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.12);
}
.v .vlist .vcard .vh .vcard {
  border: none;
  box-shadow: none;
}

/* 美化 hr 样式 */
hr {
  position: relative;
  margin: 2rem auto;
  width: calc(100% - 4px);
  border: 2px dashed #a4d8fa;
  background: #fff;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

hr:before {
  position: absolute;
  top: -10px;
  left: 5%;
  z-index: 1;
  color: #49b1f5;
  content: "\f0c4";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 20px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

hr:hover::before {
  left: 95%;
}

/* note 公共样式 */
.note {
  position: relative;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: initial;
  border-left: 3px solid #eee;
  background-color: #f9f9f9;
  border-radius: 3px;
  font-size: var(--content-font-size);
}

.note:not(.no-icon):before {
  position: absolute;
  font-family: FontAwesome;
  font-size: larger;
  top: 11px;
  left: 15px;
}

.note:not(.no-icon) {
  padding-left: 45px;
}

.note.info {
  background-color: #eef7fa;
  border-left-color: #428bca;
}

.note.info:not(.no-icon):before {
  content: "\f05a";
  color: #428bca;
}

.note.warning {
  background-color: #fdf8ea;
  border-left-color: #f0ad4e;
}

.note.warning:not(.no-icon):before {
  content: "\f06a";
  color: #f0ad4e;
}

.note.primary {
  background-color: #f5f0fa;
  border-left-color: #6f42c1;
}

.note.primary:not(.no-icon):before {
  content: "\f055";
  color: #6f42c1;
}

.note.danger {
  background-color: #fcf1f2;
  border-left-color: #d9534f;
}

.note.danger:not(.no-icon):before {
  content: "\f056";
  color: #d9534f;
}

/* 滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: #49b1f5;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #49b1f5;
}

span.inline-tag {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 90%;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.1rem;
  border-radius: 6px;
  background-color: var(--Color);
}

p.red,
span.red {
  --Color: rgb(233, 30, 100);
  --ColorA: rgba(233, 30, 100, 0.2);
}

p.green,
span.green {
  --Color: rgb(139, 195, 74);
  --ColorA: rgba(139, 195, 74, 0.2);
}

p.blue,
span.blue {
  --Color: rgb(3, 169, 244);
  --ColorA: rgba(3, 169, 244, 0.2);
}

p.yellow,
span.yellow {
  --Color: rgb(255, 193, 7);
  --ColorA: rgba(255, 193, 7, 0.2);
}

p.grey,
span.grey {
  --Color: rgb(76, 76, 76);
  --ColorA: rgba(76, 76, 76, 0.2);
}

p.div-border {
  padding: 10px;
  border: 1px solid var(--Color, #333);
  border-radius: 0.4rem;
  background-color: var(--ColorA, transparent);
}

p.left {
  border-left-width: 5px;
  border-left-color: var(--Color);
}

p.bottom {
  border-bottom-width: 5px;
  border-bottom-color: var(--Color);
}

p.right {
  border-right-width: 5px;
  border-right-color: var(--Color);
}

p.top {
  border-top-width: 5px;
  border-top-color: var(--Color);
}

.tip {
  position: relative;
  color: #fff;
  background: #20a0ff;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#20a0ff),
    to(#20b8ff)
  );
  background: -webkit-linear-gradient(left, #20a0ff, #20b8ff);
  background: linear-gradient(90deg, #20a0ff, #20b8ff);
  padding: 6px 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 5px rgba(32, 160, 255, 0.5);
  box-shadow: 0 3px 5px rgba(32, 160, 255, 0.5);
  margin-bottom: 20px;
}

.tip p {
  margin: 5px 0 !important;
}

.tip:before {
  background: #20a0ff;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#0092ff),
    to(#20b8ff)
  );
  background: -webkit-linear-gradient(bottom, #0092ff, #20b8ff);
  background: linear-gradient(0deg, #0092ff, #20b8ff);
  border-radius: 50%;
  color: #fff;
  content: "\f129";
  font-size: 12px;
  position: absolute;
  width: 24px;
  height: 24px;
  line-height: 24.5px;
  left: -12px;
  top: -12px;
  -webkit-box-shadow: 0 0 0 2.5px #fff;
  box-shadow: 0 0 0 2.5px #fff;
  font-weight: 600;
  font-family: "Font Awesome 5 Free";
  text-align: center;
}

.btn,
.getit a {
  position: relative;
}

.well .tip:before {
  -webkit-box-shadow: 0 0 0 2.5px #f7f8f9;
  box-shadow: 0 0 0 2.5px #f7f8f9;
}

.tip ol {
  margin: 0;
}

.tip.success {
  background: #61be33;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#61be33),
    to(#8fce44)
  );
  background: -webkit-linear-gradient(left, #61be33, #8fce44);
  background: linear-gradient(90deg, #61be33, #8fce44);
  text-shadow: 0 -1px #61be33;
  -webkit-box-shadow: 0 3px 5px rgba(104, 195, 59, 0.5);
  box-shadow: 0 3px 5px rgba(104, 195, 59, 0.5);
}

.tip.success:before {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#52bb1d),
    to(#95d34b)
  );
  background: -webkit-linear-gradient(bottom, #52bb1d, #95d34b);
  background: linear-gradient(0deg, #52bb1d, #95d34b);
  content: "\f00c";
  text-shadow: 0 -1px #61be33;
}

.tip.warning {
  background: #ff953f;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff953f),
    to(#ffb449)
  );
  background: -webkit-linear-gradient(left, #ff953f, #ffb449);
  background: linear-gradient(90deg, #ff953f, #ffb449);
  text-shadow: 0 -1px #ff953f;
  -webkit-box-shadow: 0 3px 5px rgba(255, 154, 73, 0.5);
  box-shadow: 0 3px 5px rgba(255, 154, 73, 0.5);
}

.tip.warning:before {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#ff8f35),
    to(#ffc149)
  );
  background: -webkit-linear-gradient(bottom, #ff8f35, #ffc149);
  background: linear-gradient(0deg, #ff8f35, #ffc149);
  content: "\f12a";
  text-shadow: 0 -1px #ff953f;
}

.tip.error {
  background: #ff4949;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff4949),
    to(#ff7849)
  );
  background: -webkit-linear-gradient(left, #ff4949, #ff7849);
  background: linear-gradient(90deg, #ff4949, #ff7849);
  text-shadow: 0 -1px #ff4949;
  -webkit-box-shadow: 0 3px 5px rgba(255, 73, 73, 0.5);
  box-shadow: 0 3px 5px rgba(255, 73, 73, 0.5);
}

.tip.error:before {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#ff3838),
    to(#ff7849)
  );
  background: -webkit-linear-gradient(bottom, #ff3838, #ff7849);
  background: linear-gradient(0deg, #ff3838, #ff7849);
  content: "\f00d";
  text-shadow: 0 -1px #ff4949;
}

/*夜间适配*/
.night .tip {
  filter: brightness(0.7);
}

/* snote夜间模式 */
.night .tip {
  color: #4c4948;
}
